{{#extend "layout"}}
  {{#append "body"}}
    <form action="/login" method="post">
      <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email" class="form-control" />
      </div>
      <div class="form-group clearfix">
        <label>Password:</label>
        <input type="password" name="password" class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" value="Log In" class="btn btn-primary" /> 
        <a href="/user/add" class="btn btn-default">Register</a>
      </div>
  </form>
  {{/append}}
{{/extend}}