<!DOCTYPE html>
<html {{#block "htmlAttrs"}}{{/block}}>
  <head {{#block "headAttrs"}}{{/block}}>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <title>{{#block "page-title"}}{{/block}}</title>

    {{#block "styles"}}
      <link rel="stylesheet" href="/libraries/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/libraries/jasny-bootstrap/css/jasny-bootstrap.css">
      <link rel="stylesheet" href="/libraries/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" href="/less/ey.css">
    {{/block}}
  </head>
  <body {{#block "bodyAttrs"}}{{/block}}>
    {{#block "header"}}
    {{/block}}
    
    {{#block "body"}}
    {{/block}}

    {{#block "footer"}}
    {{/block}}

    {{#block "scripts"}}
      <script src="/libraries/jquery/jquery.js"></script>
      <script src="/libraries/bluebird/bluebird.js"></script>
      <script src="/libraries/bootstrap/js/bootstrap.min.js"></script>
      <script src="/libraries/jasny-bootstrap/js/jasny-bootstrap.js"></script>
      <script src="/libraries/ractive/ractive.js"></script>
      <script src="/libraries/ractive/ractive-events-keys.js"></script>
      <script src="/libraries/lodash/lodash.js"></script>

      <script src="/api.js"></script>
    {{/block}}
  </body>
</html>